#select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.2em;
}

#war-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#blackjack-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#help-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
